*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
}



.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 55px;
    background-color: #3C4473;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 130px;
    max-width: 1440px;
    margin: auto;
    
}

.topo img {
    width: 150px;
    height: auto;
    display: flex;
    
 
}

.topo span {
    color: white;
    font-size: .6rem;
    margin-right: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    height: 110px;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    box-shadow: 0px 0px 1px 0px;
    max-width: 1440px;
    margin: 56px auto;
}

.logo {
    padding: 130px;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 130px;
    
}

nav ul li {
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
    color: #3C4473;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

nav a :hover {
    color: #A63F48;
}

#main {
    
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    max-width: 1440px;
   
}

#main span {
    color: black;
    margin-right: 120px;
    margin-left: 20px;
    color: #3C4473;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.imagemstretch img {
    width: 630px;
}

#aempresa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #A63F48;
    max-width: 1440px;
    margin: auto;
    height: 93vh;
}

#aempresa h2 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    width: 500px;
    color: white;
}

#aempresa p {
    display: flex;
    flex-direction: row;
    flex: 50%;
    line-height: 25px;
    color: whitesmoke;
}

#aempresa img {
    width: 550px;
    height: auto;
    padding-right: 250px;
    margin-top: 50px;
}

.valores {
    font-weight: bold;
}

#oproduto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1440px;
    margin: auto;
    height: 93vh;
}

#oproduto h2 {
    font-size: 2.8rem;
    display: flex;
    flex-direction: row;
    width: 430px;
    
    margin-left: 100px;
}

#oproduto p {
    display: flex;
    flex-direction: row;
    flex: 50%;
    line-height: 25px;
    
}

#oproduto img {
    display: flex;
    width: 450px;
    height: auto;
    padding-left: 80px;
}

#orcamento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 93vh;
    background-color: #3C4473;
    max-width: 1440px;
    margin: auto;
}

#orcamento h2 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    width: 500px;
    color: white;
    
}

#orcamento p {
    display: flex;
    flex-direction: row;
    flex: 50%;
    line-height: 25px;
    color: whitesmoke;
    
}

#orcamento img {
    width: 400px;
    height: auto;
    padding-right: 50px;
    margin-top: 50px;
}

#localizacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#localizacao h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    padding-left: 70px;
    margin-right: 50px;
    font-size: 2.8rem;
}

#localizacao iframe {
    width: 70%;
    height: 93vh;
}

footer {
    background-color: #3C4473;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer span p {
    text-align: center;
    color: white;
    
}




